body {
  background: #a770ef; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdb99b,
    #cf8bf3,
    #a770ef
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.plus-button {
  width: 44px;
  height: 44px;
  font-weight: 800;
  font-size: 24px;
  border-radius: 80%;
  border: 2px solid rgba(0, 128, 0, 0.556);
  background-color: rgb(108, 167, 19);
  color: white;
  cursor: pointer;
}
.delete-button {
  width: 80px;
  height: 35px;
  font-size: 14px;
  border: 3px solid rgb(255, 18, 69);
  border-radius: 15px;
  background-color: rgb(255, 18, 69);
  color: white;
  cursor: pointer;
  margin: 0px 10px;
}
.cancel-button {
  color: black;
  width: 80px;
  height: 35px;
  font-size: 14px;
  border: 3px solid rgba(82, 82, 94, 0.3);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 0px 10px;
}
